body {
	background-color: #f8f8f8;
}

#headerwrap {
	background: url('../img/background-img.jpg') no-repeat center top;
	background-size: cover;
}

#headerwrap.sponsor-bg {
	background: url('../img/ice-bg.jpg') no-repeat center top;
	background-size: cover;
}

#footerwrap {
	background-color: #333;
	color: #777;
	padding-top: 80px;
	padding-bottom: 100px;
}

#footerwrap h1, #footerwrap h2, #footerwrap h4, #footerwrap h5, #footerwrap h6 {
	color: #fff;
}

#featureswrap.sponsor-section {
	padding-bottom: 0px;
}

.admin-wrap {
	background: url('../img/background-img-2.jpg') no-repeat center top !important;
	background-size: 100% 100% !important;
}

.navbar-default {
	background-color: #f8f8f8;
}

.grey {
	color: #bdc3c7;
}

#featureswrap .col-lg-4 h4, #featureswrap .col-lg-4 licon {
	font-size: 20px;
	color: #06979e;
}

.form-padding {
	padding: 6px 12px;
}

.modal-footer {
	margin-top: 0px;
}

.no-btn {
	cursor: none;
}

.dropdown-menu>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ice h1, .ice h3{
	color: #333 !important;
}

.push-right {
	margin-left: 2.5em;
}

.power {
	font-weight: bold;
}

.paper {
	background-color: #fff;
	padding: 10px;
}

.glow {
	background-color: yellow;
}

.red {
	background-color: #e74c3c;
	color: white;
}