body {
	background-color: #f8f8f8;
}

#headerwrap {
	background: url('../img/background-img.jpg') no-repeat center top;
	background-size: cover;
}

.admin-wrap {
	background: url('../img/background-img-2.jpg') no-repeat center top !important;
	background-size: 100% 100% !important;
}

.navbar-default {
	background-color: #f8f8f8;
}

.grey {
	color: #bdc3c7;
}

#featureswrap .col-lg-4 h4, #featureswrap .col-lg-4 licon {
	font-size: 20px;
	color: #06979e;
}

.form-padding {
	padding: 6px 12px;
}

.modal-footer {
	margin-top: 0px;
}

.no-btn {
	cursor: none;
}

.dropdown-menu>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
